# PBMCs Tutorial
PBMC stands for Peripheral Blood Mononuclear Cells, a vital group of immune system cells found in the blood

## Instructions
This tutorial delineates a computational framework for constructing gene regulatory networks (GRNs) from single-cell multiome data. We provide 2 options to do this: 'baseline' and 'LINGER'. 
The first is a naive method combining the prior GRNs and features from the single-cell data, offering a rapid approach. 
LINGER integrates the comprehensive gene regulatory profile from external bulk data. As the following figure, LINGER uses lifelong machine learning (continuous learning) based on neural network (NN) models, which has been proven to leverage the knowledge learned in previous tasks to help learn the new task better.

## 1. Download the general gene regulatory network

In [1]:
!echo $(pwd)

/home/emile/Documents/UCL/Memoire/Lingier

In [2]:
%%bash
# Set directories and download general GRN
Datadir=$PWD/LINGER_data
mkdir -p $Datadir
cd $Datadir
echo $(pwd)

/home/emile/Documents/UCL/Memoire/Lingier/LINGER_data

In [ ]:
%%bash
# Download general GRN from Google Drive
wget --load-cookies /tmp/cookies.txt "https://drive.usercontent.google.com/download?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://drive.usercontent.google.com/download?id=1jwRgRHPJrKABOk7wImKONTtUupV7yJ9b'  -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1jwRgRHPJrKABOk7wImKONTtUupV7yJ9b" -O data_bulk.tar.gz
rm -rf /tmp/cookies.txt

In [ ]:
!tar -xzf data_bulk.tar.gz

## 2. Prepare the input data

The input data is the feature matrix from 10x sc-multiome data and Cell annotation/cell type label which includes: 
- Single-cell multiome data including matrix.mtx.gz, features.tsv.gz, and barcodes.tsv.gz.
- Cell annotation/cell type label if you need the cell type-specific gene regulatory network (PBMC_label.txt in our example).

LINGER is designed for single-cell multiome data, this means that for each cell we have both :
- gene expression (scRNA-seq) -> "Which genes are expressed in each cell ?"
- chromatin accessibility (scATAC-seq) -> "Which regulatory DNA regions are accessible in the same cell ?"

We use the public 10x Genomics PBMC multiome dataset "*pbmc_granulocyte_sorted_10k*"
(≈10,000 peripheral blood mononuclear cells)

In [ ]:
%%bash

# Download PBMC multiome data
mkdir -p data
wget -O data/pbmc_granulocyte_sorted_10k_filtered_feature_bc_matrix.tar.gz \
https://cf.10xgenomics.com/samples/cell-arc/2.0.0/pbmc_granulocyte_sorted_10k/pbmc_granulocyte_sorted_10k_filtered_feature_bc_matrix.tar.gz

tar -xzvf data/pbmc_granulocyte_sorted_10k_filtered_feature_bc_matrix.tar.gz
mv filtered_feature_bc_matrix data/
gzip -d data/filtered_feature_bc_matrix/*

In [ ]:
%%bash

# Download cell type annotation labels
wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=17PXkQJr8fk0h90dCkTi3RGPmFNtDqHO_' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=17PXkQJr8fk0h90dCkTi3RGPmFNtDqHO_" -O PBMC_label.txt
mv PBMC_label.txt data/
rm -rf /tmp/cookies.txt

We end up with the following files :

- *matrix.mtx* : A sparse count matrix with both RNA and ATAC counts mixed together (180488 features x 11898 cells)
    1. Rows = features (genes + peaks)
    2. Columns = cells
    3. Values = number of reads <br><br>

- *features.tsv* : Each row describes what a row in *matrix.mtx* means, it splits the matrix into RNA and ATAC parts (180488 rows)

- *barcodes.tsv* : One barcode per column in *matrix.mtx*, each barcode = one signle cell (11898 barcodes)

- *PBMC_label.txt* : cell annotation metadata, tells us which cell type each barcode corresponds to

## 3. Install LINGIER + conda env

In [ ]:
# Cell 4: Install LINGER and dependencies (run in notebook terminal or a separate conda env)
# Uncomment and run once
"""
!conda create -n LINGER python=3.10 -y
!conda activate LINGER
!pip install LingerGRN==1.105
!conda install -c bioconda bedtools conda-forge scanpy pandas scipy -y

!conda install -c conda-forge scanpy=1.9 pandas scipy matplotlib=3.7 anndata=0.9 -y
"""

In [ ]:
!conda info --envs

In [ ]:
!conda list -n LINGER

## 4. About the AnnData object

In [ ]:
# Preprocess - load sc-multiome data into AnnData
import scanpy as sc
import pandas as pd
import scipy.io
from LingerGRN.preprocess import *

%matplotlib inline

matrix = scipy.io.mmread('data/filtered_feature_bc_matrix/matrix.mtx')
features = pd.read_csv('data/filtered_feature_bc_matrix/features.tsv', sep='\t', header=None)
barcodes = pd.read_csv('data/filtered_feature_bc_matrix/barcodes.tsv', sep='\t', header=None)
label = pd.read_csv('data/PBMC_label.txt', sep='\t', header=0)

adata_RNA, adata_ATAC = get_adata(matrix, features, barcodes, label)

In [7]:
type(adata_ATAC)

anndata._core.anndata.AnnData

An [AnnData](https://anndata.readthedocs.io/en/stable/generated/anndata.AnnData.html#anndata.AnnData) object (annotated data) *adata* stores a data matrix adata.X, annotation of observations adata.obs and variables adata.var as pd.DataFrame and unstructured annotation adata.uns as dict. Names of observations and variables can be accessed via adata.obs_names and adata.var_names, respectively.

adata_RNA & adata_ATAC are two aligned AnnData objects of same cells with different features (genes -> RNA and peaks -> ATAC).

### A. adata_RNA

In [11]:
adata_RNA

View of AnnData object with n_obs × n_vars = 9543 × 36601
    obs: 'barcode', 'sample', 'label', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt'
    var: 'gene_ids', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'

In [ ]:
adata_RNA.X                   # cells x genes, contains RNA counts

In [22]:
adata_RNA.obs.head()          # cells

,barcode,sample,label,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
11249,TTAGGCTAGCGAGTAA-1,1,classical monocytes,2086,4537.0,0.0,0.0
6572,GCAAGTGCATAAGCAA-1,1,naive CD8 T cells,1672,3312.0,0.0,0.0
663,AATTGACGTGCTAGAC-1,1,naive CD8 T cells,1689,3454.0,0.0,0.0
523,AATAGAGGTGCTCACC-1,1,myeloid DC,3311,9175.0,0.0,0.0
11567,TTGGCTTGTGAGCGAA-1,1,naive CD8 T cells,1436,2714.0,0.0,0.0

In [23]:
adata_RNA.var.head()          # genes

,gene_ids,mt,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
MIR1302-2HG,MIR1302-2HG,False,0,0.000000,100.000000,0.0
FAM138A,FAM138A,False,0,0.000000,100.000000,0.0
OR4F5,OR4F5,False,0,0.000000,100.000000,0.0
AL627309.1,AL627309.1,False,61,0.006916,99.360788,66.0
AL627309.3,AL627309.3,False,0,0.000000,100.000000,0.0

In [33]:
adata_RNA.X.shape             # 9543 cells x 36601 genes  (also non protein coding genes)

(9543, 36601)

In [34]:
adata_RNA.X.nnz               # nb of non zero entries

18510894

In [38]:
# those non zero entries represent a very small fraction of the matrix
adata_RNA.X.nnz / (adata_RNA.shape[0] * adata_RNA.shape[1])

0.0529967843327702

In [54]:
adata_RNA.X[7, :100].toarray() # 7th cell, 100 first genes

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        2., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        2., 0., 0., 0., 0., 0., 6., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.]], dtype=float32)

In [5]:
adata_RNA.obs.iloc[7]          # metadata of the 7th obs (cell)

barcode               CGAAGCGAGGGCTAAA-1
sample                                 1
label                classical monocytes
n_genes_by_counts                   2131
total_counts                      4341.0
total_counts_mt                      0.0
pct_counts_mt                        0.0
Name: 4300, dtype: object

In [19]:
adata_RNA.var.iloc[0]          # metadata of gene 0

gene_ids                 MIR1302-2HG
mt                             False
n_cells_by_counts                  0
mean_counts                      0.0
pct_dropout_by_counts          100.0
total_counts                     0.0
Name: MIR1302-2HG, dtype: object

### B. adata_ATAC

In [63]:
adata_ATAC

View of AnnData object with n_obs × n_vars = 9543 × 143887
    obs: 'barcode', 'sample', 'label'
    var: 'gene_ids'

In [65]:
adata_ATAC.obs.head()         # cells

                  barcode  sample                label
11249  TTAGGCTAGCGAGTAA-1       1  classical monocytes
6572   GCAAGTGCATAAGCAA-1       1    naive CD8 T cells
663    AATTGACGTGCTAGAC-1       1    naive CD8 T cells
523    AATAGAGGTGCTCACC-1       1           myeloid DC
11567  TTGGCTTGTGAGCGAA-1       1    naive CD8 T cells

In [66]:
adata_ATAC.var.head()          # peak regions (= genomic region of open chromatin)

                 gene_ids
36601     chr1:9790-10675
36602  chr1:180599-181702
36603  chr1:191168-192093
36604  chr1:267565-268455
36605  chr1:270876-271770

In [67]:
adata_ATAC.shape              # cells x peaks

(9543, 143887)

In [84]:
adata_ATAC.X[1, :100].toarray()     # cell 1, 100 first peaks

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0.,
        2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2.,
        0., 0., 0., 0., 0., 2., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 2., 0., 0., 2., 0., 0., 4., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 6., 0., 0., 0., 0., 0., 2., 0., 0., 0., 2., 0., 1., 4.,
        0., 0., 4., 0.]], dtype=float32)

In [8]:
adata_ATAC.obs.iloc[1]             # cell 1

barcode        CAGCTATAGTTGGCCA-1
sample                          1
label      intermediate monocytes
Name: 3291, dtype: object

In [80]:
adata_ATAC.var.iloc[11]            # peak 11

gene_ids    chr1:778283-779200
Name: 36612, dtype: object

From above, cell 1 has a peak in chr1:778283-779200 (since there is a 2 at *adata_ATAC.X[1,11]*)

In [ ]:
#adata_RNA.X[i, j]             # cell i, gene j : Gene expression count of gene j in cell i
#adata_ATAC.X[i, k]            # cell i, peak k : Chromatin accessibility count of peak k in cell i

In [89]:
adata_RNA.X[7, 42]             # gives 1 : cell 7 has 1 RNA molecule for gene 42

1.0

## 5. Preprocess

In [ ]:
# Filter low-count cells and genes

# Keep only cells that have ≥ 200 detected genes
sc.pp.filter_cells(adata_RNA, min_genes=200)

# Keep only genes expressed in ≥ 3 cells
sc.pp.filter_genes(adata_RNA, min_cells=3)

sc.pp.filter_cells(adata_ATAC, min_genes=200)
sc.pp.filter_genes(adata_ATAC, min_cells=3)

# Keep only cells present in both RNA and ATAC
selected_barcode = list(set(adata_RNA.obs['barcode'].values) & set(adata_ATAC.obs['barcode'].values))

barcode_idx = pd.DataFrame(range(adata_RNA.shape[0]), index=adata_RNA.obs['barcode'].values)
adata_RNA = adata_RNA[barcode_idx.loc[selected_barcode][0]]

barcode_idx = pd.DataFrame(range(adata_ATAC.shape[0]), index=adata_ATAC.obs['barcode'].values)
adata_ATAC = adata_ATAC[barcode_idx.loc[selected_barcode][0]]

### About pseudo-bulking

Pseudo-bulk means "Combine many single cells into a “fake bulk sample” by summing or averaging their counts"
Since single cell is noisy and extremely sparse, it is better to work with aggregated signals across groups of cells (=metacells).  
- ``singlepseudobulk = true`` : Collapse all cells in this sample into ONE pseudobulk profile. This gives following dimensions : 
    - TG_pseudobulk_temp : (n_genes × 1)
    - RE_pseudobulk_temp : (n_peaks × 1) <br><br>
      
- ``singlepseudobulk = false`` : First cluster cells → then make multiple pseudobulks (metacells), used when we don't have many samples. This will create *K* clusters of cells, or *K* metacells
    - TG_pseudobulk_temp : (n_genes × k_metacells)
    - RE_pseudobulk_temp : (n_peaks × k_metacells) <br><br>
      
- Why is this needed ? GRN inference needs many samples (columns).
    - If you already have many samples → 1 bulk per sample is enough
    - If you have few samples → create metacells to increase sample count

In [ ]:
# Generate pseudo-bulk/metacell
import os
from LingerGRN.pseudo_bulk import *

samplelist=list(set(adata_ATAC.obs['sample'].values)) # sample is generated from cell barcode 
tempsample=samplelist[0]

TG_pseudobulk=pd.DataFrame([])
RE_pseudobulk=pd.DataFrame([])

n_samples = adata_RNA.obs['sample'].nunique()
singlepseudobulk = (n_samples > 10)
#singlepseudobulk = (adata_RNA.obs['sample'].unique().shape[0]*adata_RNA.obs['sample'].unique().shape[0]>100)

# here samplelist = [1], singlepseudobulk = False (there is only one sample)
for tempsample in samplelist:

    # get cells from only tempsample
    adata_RNAtemp = adata_RNA[adata_RNA.obs['sample' ] == tempsample]
    adata_ATACtemp = adata_ATAC[adata_ATAC.obs['sample'] == tempsample]

    TG_pseudobulk_temp, RE_pseudobulk_temp = pseudo_bulk(adata_RNAtemp, adata_ATACtemp, singlepseudobulk)  
    
    TG_pseudobulk = pd.concat([TG_pseudobulk, TG_pseudobulk_temp], axis=1)
    RE_pseudobulk = pd.concat([RE_pseudobulk, RE_pseudobulk_temp], axis=1)
    
    RE_pseudobulk[RE_pseudobulk > 100] = 100

In [ ]:
if not os.path.exists('data/'):
    os.mkdir('data/')
    
adata_ATAC.write('data/adata_ATAC.h5ad')
adata_RNA.write('data/adata_RNA.h5ad')

TG_pseudobulk=TG_pseudobulk.fillna(0)
RE_pseudobulk=RE_pseudobulk.fillna(0)

pd.DataFrame(adata_ATAC.var['gene_ids']).to_csv('data/Peaks.txt',header=None,index=None)

TG_pseudobulk.to_csv('data/TG_pseudobulk.tsv')
RE_pseudobulk.to_csv('data/RE_pseudobulk.tsv')

## 6. Training the model

In [5]:
import os
from LingerGRN.preprocess import *

Datadir = os.path.join(os.getcwd(), 'LINGER_data/')
GRNdir = Datadir + 'data_bulk/'
genome = 'hg38'
outdir = '/LINGER_output/'  # output directory

preprocess(TG_pseudobulk, RE_pseudobulk, GRNdir, genome, method, outdir)

'/home/emile/Documents/UCL/Memoire/Lingier/LINGER_data/data_bulk/'

In [ ]:
import LingerGRN.LINGER_tr as LINGER_tr

method = 'baseline'    # or 'LINGER'
activef='ReLU' # active function chose from 'ReLU','sigmoid','tanh'
LINGER_tr.training(GRNdir,method,outdir,activef,'Human')

## 7. Cell population gene regulatory network

### 7.1 TF binding potential (TF-RE)
The output is 'cell_population_TF_RE_binding.txt', a matrix of the TF-RE binding score.

In [ ]:
import LingerGRN.LL_net as LL_net
LL_net.TF_RE_binding(GRNdir,adata_RNA,adata_ATAC,genome,method,outdir)

### 7.2 cis-regulatory network (RE-TG)
The output is 'cell_population_cis_regulatory.txt' with 3 columns: region, target gene, cis-regulatory score.

In [ ]:
LL_net.cis_reg(GRNdir,adata_RNA,adata_ATAC,genome,method,outdir)

### 7.3 trans-regulatory network (TF-TG)
The output is 'cell_population_trans_regulatory.txt', a matrix of the trans-regulatory score.

In [ ]:
LL_net.trans_reg(GRNdir,method,outdir,genome)